*.pyc
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
submodules/
SIBR_viewers/
submodules/*
simple-knn
data
debug.*
*.dump
*.egg-info/
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg
*.out
*.log
pointops2/pointops2.egg-info
.idea
exp.sh
test.sh
run.sh
*.mp4
render_video.py
render_free.py
**.ply